{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "jsborbit9192@gmail.com",
      "Space": "dev"
    },
    "Name": "SimpleWordGame9192",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}